#about{
  max-width: 1200px;  
  margin: 14rem auto;
}

#about h2{
  font-size: 2rem;
}

.about__container{  
  width: 100%;    
}

.about__content{
  display: flex;
  flex-direction: column;  
  align-items: center;
}

/* LEFT CONTAINER *//* LEFT CONTAINER *//* LEFT CONTAINER */
.about__text{
  width: 80%;
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  padding: 1rem 3rem;
}

.about__text p{    
  font-size: 1.3rem;  
  color: var(--color-light);  
  text-align: left;  
}

.about__text p b{
  color: var(--color-white);
}

.p__icon{
  color: var(--color-primary);
  padding-top: 0.2rem;
}

.about__text a{
  min-width: max-content;
  text-align: center;
  margin-left: 2rem;
}

/* RIGTH CONTAINER *//* RIGTH CONTAINER *//* RIGTH CONTAINER */
.about__cards{
  display: flex;  
  width: 100%;  
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 3rem;
  gap: 1rem;
}

.about__card{
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 22%;
  height: 10rem;
  transition: var(--transition);
}

.about__card:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
}

.about__icon{
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card{
  font-size: 0.95rem;
}


/* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN */
/* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  .about__content{
    flex-direction: column;
    align-items: center;    
  }
  .about__text{
    width: 80%;
    align-items: center;    
    flex-direction: column;
  }
  .about__text p{
    text-align: center;
    margin-bottom: 3rem;
  }
  .about__text a{
    margin: 0;
  }
  .about__cards{
    flex-direction: row;
    width: 85%;        
    flex-wrap: wrap;
    justify-content: space-evenly;
  }  
  .about__card{
    min-width: 48%;    
  }
  
}

@media screen and (max-width: 600px) {
  #about{    
    margin: 6rem auto;
  }

  .about__text{
    width: 100%;
  }
  .about__cards{
    width: 100%;     
    padding: 0;   
  }

  .about__card{
    width: 66%;
    height: 7rem;
  }
}