.collapse__container{
  text-align: center;  
  transition: var(--transition);
}

.collapse__container-btn{
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1.3rem;
  margin: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.collapse__container-btn:hover{  
  color: var(--color-white);
}

.collapse__container-desc{
  background-color: transparent;  
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  transition: var(--transition);
}

.collapse__container-desc h3{
  color: var(--color-primary);
}
.collapse__container-desc p{
  color: var(--color-light);
}