#skills{
  max-width: 1200px;  
  margin: 14rem auto;
}

#skills h2{
  font-size: 2rem;
}

.skills__container > div{
  background: var(--color-bg-variant);
  padding: 2.4rem 0;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.skills__container > div:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.skills__container > div h3{
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skills__languajes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  place-items: left;
}

.skills__details{
  padding-left: 30%;
}

.skills__details-icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skills__details-frame{
  display: block;
  padding-left: 1.9rem;
  font-size: 0.9rem;
  color: var(--color-light);
}




/* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN */
/* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN *//* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {

  .skills__container{
    width: 67%;
  }

  .skills__container > div{    
    padding: 2rem;
    margin: 0 auto;
  }
  .skills__languajes{   
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__details{
    padding-left: 20%; 
  }
}

@media screen and (max-width: 600px) {  
  #skills{    
    margin: 6rem auto;
  }

  .skills__languajes{
    grid-template-columns: 1fr;
  }
  
  .skills__details{
    min-height: 3.3rem;    
    padding-left: 25%;
  }
  .skills__container > div{    
    padding: 3rem 1.8rem;    
  }
  
}